@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@*@ViewBag.Message*@</h3>

<div class="row">
    <div class="col-md-4">
        <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>
    </div>
    <div class="col-md-8">
        <div id="map-canvas"></div>
    </div>
</div><br />
<div class="row">
    <div class="col-md-4">
        <h2>hi</h2><br />
        Add text here<br />
        more text, more
    </div>
    <div class="col-md-4">
        <p>
            <h2>OPENING HOURS</h2><br>
            We’re open everyday<br>
            <h3>12:00pm-1:00am</h3>
        </p>
    </div>
    <div class="col-md-4">
        <h2>test</h2>
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
</div>




