@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@*@ViewBag.Message*@</h3>

<div class="row">
    <div class="col-md-4">
        <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>
    </div>
    <div class="col-md-8">
        <div id="map-canvas"></div>
    </div>
</div><br />




