*.suo
*.cache
*.suo
IndianColor.Restaurant.BusinessLogicLayer/bin/Debug/IndianColor.Restaurant.BusinessLogicLayer.dll
IndianColor.Restaurant.BusinessLogicLayer/bin/Debug/IndianColor.Restaurant.BusinessLogicLayer.pdb
IndianColor.Restaurant.BusinessLogicLayer/obj/Debug/IndianColor.Restaurant.BusinessLogicLayer.dll
IndianColor.Restaurant.BusinessLogicLayer/obj/Debug/IndianColor.Restaurant.BusinessLogicLayer.pdb
IndianColor.Restaurant.Tests/bin/Debug/IndianColor.Restaurant.Tests.dll
IndianColor.Restaurant.Tests/obj/Debug/IndianColor.Restaurant.Tests.pdb
IndianColor.Restaurant.Tests/obj/Debug/IndianColor.Restaurant.Tests.dll
*.suo
IndianColor.Restaurant.WebUI/bin/IndianColor.Restaurant.dll
IndianColor.Restaurant.WebUI/bin/IndianColor.Restaurant.pdb
IndianColor.Restaurant.WebUI/obj/Debug/IndianColor.Restaurant.pdb
IndianColor.Restaurant.WebUI/obj/Debug/IndianColor.Restaurant.dll