@model System.Collections.Generic.IEnumerable<IndianColor.Restaurant.Models.FoodMenuItemModels.FoodMenuItemModel>

@{
    ViewBag.Title = "FoodList";
}

<h2>FoodList</h2>
@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-10">
            <h3>@item.Name</h3>
            <h4>@item.Category</h4>
            @item.Description
        </div>
        <div class="col-md-2">
            <h3>@item.Price.ToString("c")</h3>
        </div>
    </div>
}

